@model codigoteca.Models.Post

@{
    ViewBag.Title = "Details";
}

<h3>Detalles de: <span style="color:royalblue">@Html.DisplayFor(model => model.PostName)</span></h3>

<div>
    <hr />
    <div class="col-lg-4" style="font-size:medium">
        <div class="col-md-10">
            <b>
                @Html.DisplayNameFor(model => model.PostLanguage):
            </b>
            @Html.DisplayFor(model => model.PostLanguage)
        </div>
        <br><br>
        <div class="col-md-10">
            <b>
                @Html.DisplayNameFor(model => model.PostDescrip):
            </b>
            @Html.DisplayFor(model => model.PostDescrip)
        </div>
        <br><br>
        <div class="col-md-10">
            <b>
                @Html.DisplayNameFor(model => model.PostDate):
            </b>
            @Html.DisplayFor(model => model.PostDate)
        </div>
        <br><br>
        <div class="col-md-10">
            <b>
                @Html.DisplayNameFor(model => model.PostVisibility):
            </b>
            @if (@Model.PostVisibility == 0)
            {
                <span> Público </span>
            }
            else
            {
                <span> Privado </span>
            }
            
        </div>
    </div>
        <div class="col-md-8">
            <p style="text-align:center">
                <span style="font-size:140%">@Html.DisplayNameFor(model => model.PostBody)</span>
            </p>
            <textarea readonly rows="8" cols="100">
                @Html.DisplayFor(model => model.PostBody)
            </textarea>
        </div>
    </div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.PostId }) |
    @Html.ActionLink("Volver al listado", "Index")
</p>
