@model IEnumerable<codigoteca.Models.Post>

@{
    ViewBag.Title = "Index";
}

@if (@ViewBag.titulo != null)
{
    <h2> @ViewBag.titulo </h2>
    <p>@ViewBag.text</p>
}
else
{
    <h2>Posts</h2>
}


<button type="button" class="btn">
    @Html.ActionLink("Crear nuevo post", "Create")
</button>

<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PostName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostDescrip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostVisibility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostLanguage)
        </th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostDescrip)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PostDate, "{0:dd/MM/yyyy}")
            </td>
            <td>
                @if (item.PostVisibility == 0)
                {
                    <p>Público</p>
                }
                else
                {
                    <p>Público</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostLanguage)
            </td>
            <td>
                <a href="/Posts/Edit/@item.PostId" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                <a href="/Posts/Details/@item.PostId" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                <a href="/Posts/Delete/@item.PostId" class="btn btn-danger"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    }

</table>
