@model codigoteca.Models.Group

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar</h2>

<h3>¿Está seguro que desea borrar este grupo?</h3>
<div>
    <h4>Grupo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver al listado", "Index")
        </div>
    }
</div>
