@model codigoteca.Models.Group

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div class="col-md-12">

    <dl class="dl-horizontal">
        <dt>
           Nombre del grupo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>

        <dt>
            Fecha de creación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupDate)
        </dd>

    </dl>
</div>

@if (ViewBag.groupUsers != null)
{
<div class="col-md-12">
    <h3>Integrantes</h3>
            @foreach (var item in ViewBag.groupUsers)
            {
                if (item.UserID == ViewBag.Owner.UserID)
                {
                    <p><i class="fa fa-check"></i>@item.UserName (Administrador)</p>

                }
                else
                {
                    <p><i class="fa fa-check"></i>@item.UserName</p>
                }

            }
</div>
}


<div class="col-md-12">
    <h3>Posteos</h3>
    <table class="table">
        <tr>
            <th>Fecha</th>
            <th>Título</th>
            <th></th>
        </tr>

        @foreach (var item in ViewBag.postsGroup)
        {
            <tr>
                <td> @item.PostDate </td>
                <td>@item.PostName</td>
                <td>
                    <a class="btn btn-primary" href="/Posts/Details/@item.PostId"><i class='fa fa-eye'></i></a>
                </td>
            </tr>
        }
    </table>
</div>