@model codigoteca.Models.Group

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Group</h4>
    <hr />
    @if (ViewBag.isAdmin)
    {
        <p>>Admin</p>
    }
    else {
        <p>>NoAdmin</p>
            }

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.GroupID }) |
    @Html.ActionLink("Volver al listado", "Index") |
</p>

@if (ViewBag.groupUsers != null)
    {
<div class="form-group">
    <div class="col-md-10">
        <h3>Integrantes</h3>
        @foreach (var item in ViewBag.groupUsers)
        {
        <label for="@item.UserID" style="margin-left:10px;">@item.UserName</label>
}
    </div>
</div>
}
<br />
<br />
<br />
@{Html.RenderAction("Create", "Invitations", new {GroupID = Model.GroupID });
}




