@model codigoteca.Models.Group

@{
    ViewBag.Title = "Editar grupo";
}

<h2>Editar grupo</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="text" name="id" value="@Model.GroupID" hidden />

        <div class="form-group">
            @Html.LabelFor(model => model.GroupName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.GroupName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GroupName, "", new { @class = "text-danger" })
            </div>

        </div>


        @if (ViewBag.isAdmin)
        {
            if (ViewBag.groupUsers.Count != 0)
            {

                <h3>Administrar integrantes </h3>
                <br />
                <h4>Existentes</h4>
                foreach (var item in ViewBag.groupUsers)
                {
                <div style="display:flex;margin-bottom:15px; justify-content:space-between;align-items:center;border-bottom: 1px solid #777" class="col-md-12">
                    <p>@item.UserName - @item.UserMail</p>
                    <a data-toggle="modal" data-target="#deleteUser" data-user="@item.UserID" data-group="@ViewBag.groupId" class="btn btn-danger deleteUser">Eliminar</a>
                </div>
                }
            }


        }

        <div class="form-group" style="margin-top:40px;">
            <div class="col-md-10">
                <input type="submit" value="Guardar" class="btn btn-success" />
                <a href="/Groups" class="btn btn-primary">Volver atrás</a>
            </div>
            <div class="col-md-2 pull-right text-right">
                <a data-toggle="modal" data-target="#exitGroup" data-id="@ViewBag.groupId" class="btn btn-danger exitGroup">Salir del grupo</a>

            </div>
        </div>
    </div>

}


<div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title"><strong>Eliminar usuario</strong></p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Borrar el usuario del grupo?</p>
            </div>
            <div class="modal-footer">
                <a href="/Groups/deleteIntegrant?userId=&groupId=" type="button" class="btn btn-danger confirm">Borrar</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exitGroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title"><strong>Salir del grupo</strong></p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Estás seguro de salir del grupo?</p>
            </div>
            <div class="modal-footer">
                <a href="/Groups/exitGroup?groupId=" type="button" class="btn btn-danger confirm">Salir</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/js/groups/edit.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>

    <script>
        $(function () {
            $("#addMail").autocomplete({
                source: "/Groups/BuscarPersonas"
            });
        });
    </script>
    <script>
        
        $("a.deleteUser").click(function () {
            console.log($(this));
            $("#deleteUser.modal .confirm").attr("href", ("/Groups/exitGroup?groupId/Groups/deleteIntegrant?userId=" + $(this).attr("data-user") + "&groupId=" + $(this).attr("data-group")));
        })

        $("a.exitGroup").click(function () {
            console.log($(this).attr("data-id"));
            $("#exitGroup.modal .confirm").attr("href", ("/Groups/exitGroup?groupId=" + $(this).attr("data-id")));
        })
    </script>

}
