
@model IEnumerable<codigoteca.Models.Group>

@{
    ViewBag.Title = "Index";
}

<div class="row" style="margin-top:20px">
    <div class="col-md-6">
        <h3 style="margin:0">Tus grupos</h3>
    </div>
    <div class="col-md-6 text-right">

        <button type="button" class="btn btn-default">
            @Html.ActionLink("Crear Grupo", "Create")
        </button>
    </div>
</div>


<br>
<br>
<table class="table thead-light">
    <thead>
        <tr>
            <th>Nombre del grupo</th>
            <th>Fecha de creación</th>
            <th>Acciones</th>
        </tr>
    </thead>

    @if (ViewBag.isAdmin)
    {
        <tbody>
            @foreach (var item in ViewBag.groups)
            {
                <tr>
                    <td>
                        @item.GroupName
                    </td>
                    <td>
                        @item.GroupDate.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        <a href="/Groups/Details/@item.GroupID" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                        <a href="/Invitations/Create?GroupID=@item.GroupID" class="btn btn-default"><i class="fa fa-plus"></i></a>
                        <a href="/Groups/Edit/@item.GroupID" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                        <a href="/Groups/Delete/@item.GroupID" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <tbody>
            @foreach (var item in ViewBag.groups)
            {
                <tr>
                    <td>
                        @item.GroupName
                    </td>
                    <td>
                        @item.GroupDate.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        <a href="/Groups/Details/@item.GroupID" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                        <a href="/Invitations/Create?GroupID=@item.GroupID" class="btn btn-default"><i class="fa fa-plus"></i></a>
                        @if (ViewBag.UserId == item.Owner)
                        {
                            <a href="/Groups/Edit/@item.GroupID" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                            <a href="/Groups/Delete/@item.GroupID" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                        }
                        else
                        {
                            <a data-toggle="modal" data-target="#exitGroup" data-id="@item.GroupID" class="btn btn-danger exitGroup">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    }

</table>

<div class="modal fade" id="exitGroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title"><strong>Salir del grupo</strong></p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Estás seguro de salir del grupo?</p>
            </div>
            <div class="modal-footer">
                <a href="/Groups/exitGroup?groupId=" type="button" class="btn btn-danger confirm">Salir</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


