

@{
    ViewBag.Title = "Index";
}

<h3>Tus grupos</h3>

<button type="button" class="btn">
    @Html.ActionLink("Crear Grupo", "Create")
</button>
<br>
<br>
<table class="table">
    <tr>
        <th>
            Nombre del grupo
        </th>
        <th>
            Fecha de creación
        </th>
        <th>Acciones</th>
    </tr>

    @if (ViewBag.isAdmin)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.GroupName
                </td>
                <td>
                    @item.GroupDate
                </td>
                <td>
                    <a href="/Groups/Details/@item.GroupID" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                    <a href="/Groups/Edit/@item.GroupID" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                    <a href="/Groups/Delete/@item.GroupID" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    }
    else
    {
        foreach (var item in ViewBag.groups)
        {
            <tr>
                <td>
                    @item.GroupName
                </td>
                <td>
                    @item.GroupDate
                </td>
                <td>
                    <a href="/Groups/Details/@item.GroupID" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                    @if (ViewBag.UserId == item.Owner)
                    {
                        <a href="/Groups/Edit/@item.GroupID" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                        <a href="/Groups/Delete/@item.GroupID" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                    }
                </td>
            </tr>
        }
    }

</table>

