<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("C0D1G0TECA", "Index", "Index", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (User.Identity.IsAuthenticated)
                {
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Posteos", "Index", "Posts")</li>
                    <li>@Html.ActionLink("Grupos", "Index", "Groups")</li>
                    <li><a href="/posts/privates">Posteos privados</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/invitations/pending">Invitaciones</a></li>
                    <li>@Html.ActionLink(Session["UserName"].ToString() + " (Cerrar Sesión)", "LogOut", "Auth")</li>
                </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (ViewBag.Status != null)
        {
            if (Convert.ToBoolean(ViewBag.Status))
            {
                if (ViewBag.Message != null)
                {
                    <div class="alert alert-success"style="margin-top:30px;">
                        <strong>Genial! </strong>@ViewBag.Message
                    </div>
                }
            }
            else
            {
                if (ViewBag.Message != null)
                {
                    <div class="alert alert-danger" style="margin-top:30px;">
                        <strong>Ups! </strong>@ViewBag.Message
                    </div>
                }
            }
        }
        @RenderBody()
        <hr />
    </div>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="~/Content/js/functions.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
