@model codigoteca.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserHash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserHash)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.UserId }) |
    @Html.ActionLink("Volver al listado", "Index")
</p>
